In [1]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['target'] = iris.target

In [4]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [11]:
df=df[df['target']!=0][['sepal width (cm)','petal width (cm)','target']]

In [12]:
df.head()

    sepal width (cm)  petal width (cm)  target
50               3.2               1.4       1
51               3.2               1.5       1
52               3.1               1.5       1
53               2.3               1.3       1
54               2.8               1.5       1

In [14]:
df=df.sample(100)

In [15]:
df.head()

     sepal width (cm)  petal width (cm)  target
148               3.4               2.3       2
70                3.2               1.8       1
98                2.5               1.1       1
64                2.9               1.3       1
52                3.1               1.5       1

In [16]:
 df.shape

(100, 3)

In [17]:
df_train=df.iloc[:60,:].sample(10)
df_val=df.iloc[60:80,:].sample(5)
df_test=df.iloc[80:,:].sample(5)

In [18]:
df_train

     sepal width (cm)  petal width (cm)  target
92                2.6               1.2       1
52                3.1               1.5       1
120               3.2               2.3       2
109               3.6               2.5       2
129               3.0               1.6       2
103               2.9               1.8       2
57                2.4               1.0       1
78                2.9               1.5       1
144               3.3               2.5       2
84                3.0               1.5       1

In [19]:
x_test=df_val.iloc[:,0:2].values
y_test=df_val.iloc[:,-1].values

In [20]:
x_test

array([[3.8, 2. ],
       [2.9, 1.3],
       [2.5, 1.1],
       [2.5, 1.5],
       [2.7, 1.9]])

In [22]:
df_bag=df_train.sample(8,replace=True)
x=df_bag.iloc[:,0:2]
y=df_bag.iloc[:,-1]
df_bag

     sepal width (cm)  petal width (cm)  target
120               3.2               2.3       2
78                2.9               1.5       1
52                3.1               1.5       1
84                3.0               1.5       1
129               3.0               1.6       2
109               3.6               2.5       2
120               3.2               2.3       2
103               2.9               1.8       2

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn.metrics import accuracy_score

In [25]:
def evaluate(clf,x,y):
    clf.fit(x,y)
    y_pred=clf.predict(x_test)
    print(accuracy_score(y_test,y_pred))

In [26]:
dt_bag1=DecisionTreeClassifier()
evaluate(dt_bag1,x,y)

1.0

C:\Users\Nikita\anaconda\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [27]:
df_bag=df_train.sample(8,replace=True)
x=df_bag.iloc[:,0:2]
y=df_bag.iloc[:,-1]
df_bag

     sepal width (cm)  petal width (cm)  target
144               3.3               2.5       2
84                3.0               1.5       1
57                2.4               1.0       1
92                2.6               1.2       1
52                3.1               1.5       1
78                2.9               1.5       1
120               3.2               2.3       2
129               3.0               1.6       2

In [ ]:
dt_bag1=DecisionTreeClassifier()
evaluate(dt_bag2,x,y)