In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('titanic.csv')

In [4]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [5]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [6]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [7]:
targets=df['Survived']
inputs=df.drop(['Survived'],axis='columns')

In [8]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [9]:
inputs=pd.concat([inputs,dummies],axis='columns')

In [10]:
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [12]:
 inputs.drop(['Sex'],axis='columns',inplace=True)

In [13]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,targets,test_size=0.2)

In [16]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [17]:
model.fit(x_train,y_train)

GaussianNB()

In [18]:
model.score(x_test,y_test)

0.7374301675977654

In [19]:
y_test[:10]

449    1
264    0
201    0
187    1
400    1
420    0
189    0
39     1
188    0
826    0
Name: Survived, dtype: int64

In [20]:
model.predict(x_test[:10])

array([0, 1, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)